.sidebar{
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: auto;
    position: sticky;
    top: 50px;
    
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    width: 5px;
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgb(197, 191, 191);
}

.sidebarWrapper{
    padding: 20px;
   
}

.sidebarList{
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem{
    display: flex;
    align-items: center;
    margin-bottom: 20px;

}

.sidebarIcon{
    margin-right: 15px;
    color: rgb(119, 91, 243);
}

.sidebarButton{
    width: 250px;
    border: none;
    padding: 10px;
    border-radius: 2px;
    font-weight: 500;
}

.sidebarButton:hover{
    background-color: red;
    color: white;
    transition: all 0.3s ease-in-out;
}

.sidebarHr{
    margin: 20px 0;
}

.sidebarFreindList{
    padding: 0;
    margin: 0;
    list-style: none;
}

